.build
NoteDetection.xcodeproj/xcuserdata
NoteDetection.xcworkspace/xcuserdata
Testumgebung/Testumgebung.xcodeproj/xcuserdata/*.xcuserdatad/

Sources/CAndroidAudioEngine/libs/
Sources/CAndroidAudioEngine/obj/
.DS_Store
Tests/.DS_Store
Testumgebung/.DS_Store